<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="ingredientForm" (ngSubmit)="currentlyEditing ? onEditIngredient() : onAddNewIngredient()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name">
          <span class="help-block" *ngIf="ingredientForm.get('name').invalid && ingredientForm.get('name').touched">
            Name is required
          </span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="text"
            id="amount"
            class="form-control"
            formControlName="amount">
          <span class="help-block" *ngIf="ingredientForm.get('amount').invalid && ingredientForm.get('amount').touched">
            <span *ngIf="ingredientForm.get('amount').errors['required']">Amount is required</span>
            <span *ngIf="ingredientForm.get('amount').errors['pattern']">Provided value is not a number</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="ingredientForm.invalid">
            <span *ngIf="!currentlyEditing; else editMode">Add</span>
            <ng-template #editMode>Update</ng-template>
          </button>
          <button class="btn btn-danger" type="button" [disabled]="!currentlyEditing" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
